body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
  display: grid;
  place-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    display: grid;
    place-items: center;
}


li {
    list-style: none;
}

.board ul li {
    list-style: none;
    display: inline-block;
}

.wordle-grid {
    display: inline-block;
    width: 40px;
    height: 50px;
    text-align: center;
    color: white;
    margin: 5px;
    padding: 5px 10px;
    border: none;
    font-size: 32px;
    outline: 2px solid #3a3a3c;
    background-color: #282c34;
}

.keyboard-button {
    background: gray;
    color: #fff;
    border: none;
    margin: 2px;
    font-size: 1.25em;
    border-radius: 4px;
    height: 58px;
    width: 43px;
    font-weight: 600;
}

.wordle-keyboard {
    text-align: center;
}

.wordle-green {
    background-color: #538d4e;
}

.wordle-yellow {
    background-color: #b59f3b;
}

.wordle-gray {
    background-color: #3a3a3c;
}


#wordle-flip {
    animation:flipinx 1s ease 0s 1 normal;
}

@keyframes flipinx {
    0%{ transform: perspective(400px) rotateX(90deg); }
    40%{ transform: perspective(400px) rotateX(-10deg); }
    70%{ transform: perspective(400px) rotateX(10deg); }
    100%{ transform: perspective(400px) rotateX(0deg); }
}


